.UserInterface {
    display: flex;
    flex-direction: column;

    .URLInput {
        border: 1px solid red;
        padding: 20px;
    }

    .URLInput > input {
        width: 80vw;
    }

    .URLInput > button {
        width: 20vh;
    }

    .radioButtons {
        display: flex;
        align-content: center;
        justify-content: center;
    }

    .radioButtons > form > label > input {
        margin: 5px;
    }

    .radioButtons > form > label > input[type="radio"]:checked + label{
        transform: scale(2);
    }

    .textArea {
        display: block;
        width: 100%;
        resize: both;
        overflow: hidden;
        min-height: 40px;
        line-height: 20px;
        border: 1px solid #ccc;
        padding: 1px 6px;
        font-family: inherit;
        font-size: inherit;
    }

    .textArea[contenteditable]:empty::before {
        content: "Input your JSON here";
        color: grey;
    }
}